conda create --name python_foundation
conda activate python_foundation
conda install geopandas

In [1]:
import os
import pandas as pd
import geopandas as gpd

In [2]:
home_dir = os.path.expanduser('~')
places_file = 'ne_10m_populated_places_simple.shp'
states_file = 'ne_10m_admin_1_states_provinces.shp'
folder = 'Downloads/python_geospatial/'
places_path = os.path.join(home_dir, folder, places_file)
states_path = os.path.join(home_dir, folder, states_file)

In [3]:
home_state = 'Karnataka'
places = gpd.read_file(places_path)
states = gpd.read_file(states_path)
filtered = states[states['name'] == home_state]
filtered

,featurecla,scalerank,adm1_code,diss_me,iso_3166_2,wikipedia,iso_a2,adm0_sr,name,name_alt,...,name_nl,name_pl,name_pt,name_ru,name_sv,name_tr,name_vi,name_zh,ne_id,geometry
2237,Admin-1 scale rank,2,IND-2446,2446,IN-KA,None,IN,1,Karnataka,Maisur|Mysore,...,Karnataka,Karnataka,Karnataka,Карнатака,Karnataka,Karnataka,Karnataka,卡纳塔克邦,1159311889,"POLYGON ((74.85426 12.76529, 74.85475 12.78701..."

In [45]:
filtered = gpd.clip(places, filtered)

In [44]:
filtered.to_crs('EPSG:3857', inplace=True)
home_city = 'Bangalore'
home_city_geom = filtered[filtered['name'] == home_city].geometry
home_city_geom
filtered['distance'] = filtered.apply(lambda row: home_city_geom.distance(row.geometry)/1e3, axis=1)
filtered
# reproj

,scalerank,natscale,labelrank,featurecla,name,namepar,namealt,diffascii,nameascii,adm0cap,...,rank_min,geonameid,meganame,ls_name,ls_match,checkme,min_zoom,ne_id,geometry,distance
3893,7,20,1,Populated place,Mandya,None,None,0,Mandya,0.0,...,9,1263814.0,None,Mandya,1,0,6.7,1159141819,POINT (708594.997 1390387.448),82.329836
3894,7,20,1,Populated place,Kolar,None,None,0,Kolar,0.0,...,9,1266305.0,None,Kolar,1,0,6.7,1159141823,POINT (839755.895 1454034.354),64.964058
3895,7,20,1,Populated place,Shimoga,None,None,0,Shimoga,0.0,...,10,1256515.0,None,Shimoga,1,0,6.7,1159141827,POINT (560496.928 1540097.416),240.942206
3896,7,20,1,Populated place,Raichur,None,None,0,Raichur,0.0,...,10,1259012.0,None,Raichur,1,0,6.7,1159141831,POINT (751761.078 1793650.092),359.150536
3897,7,20,1,Populated place,Hospet,None,None,0,Hospet,0.0,...,9,1269935.0,None,Hospet,1,0,6.7,1159141837,POINT (647642.540 1689806.461),285.617094
3898,7,20,1,Populated place,Bidar,None,None,0,Bidar,0.0,...,10,1275738.0,None,Bidar,1,0,6.7,1159141841,POINT (766698.089 1983461.990),548.144629
5352,6,30,1,Populated place,Bijapur,None,None,0,Bijapur,0.0,...,10,1275701.0,None,Bijapur,1,0,6.0,1159147195,POINT (575641.275 1861484.053),471.465697
5942,6,30,1,Populated place,Tumkur,None,None,0,Tumkur,0.0,...,10,1254089.0,None,Tumkur,1,0,6.0,1159148523,POINT (727472.167 1474588.129),63.545735
5943,6,30,1,Populated place,Davangere,None,None,0,Davangere,0.0,...,10,1273368.0,None,Davangere,1,0,6.0,1159148525,POINT (599150.723 1599906.678),242.627637
5944,6,30,1,Populated place,Bellary,None,None,0,Bellary,0.0,...,10,1276509.0,None,Bellary,1,0,6.0,1159148527,POINT (705769.731 1675820.482),250.873955
5945,6,30,1,Populated place,Belgaum,None,None,0,Belgaum,0.0,...,11,1276533.0,None,Belgaum,1,0,6.0,1159148531,POINT (447003.454 1754066.458),459.097519
6616,4,50,1,Populated place,Hubli,None,Hubli-Dharwad,0,Hubli,0.0,...,11,1269920.0,Hubli-Dharwad,Hubli,1,0,5.6,1159150013,POINT (513208.476 1698360.826),372.818211
6617,4,50,1,Populated place,Mangalore,None,None,0,Mangalore,0.0,...,10,1263780.0,None,Mangalore,1,0,5.6,1159150015,POINT (483726.670 1426084.689),293.936275
6618,4,50,1,Populated place,Mysore,None,None,0,Mysore,0.0,...,11,1262321.0,Mysore,Mysore,1,0,5.6,1159150017,POINT (680308.521 1361603.018),122.059657
6619,4,50,1,Populated place,Gulbarga,None,None,0,Gulbarga,0.0,...,10,1270752.0,None,Gulbarga,1,0,5.6,1159150019,POINT (693390.810 1919186.238),491.022011
7303,1,300,1,Admin-1 capital,Bangalore,None,Bengaluru,0,Bangalore,0.0,...,13,1277333.0,Bangalore,Bangalore,1,0,3.7,1159151543,POINT (777514.534 1435424.092),0.000000